{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}Contactanos{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Contactanos a nuestro email: hello@phyroserver.com, o nuestras redes sociales Phyro Server Tehuacán.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}Contacto, Telefono, Mapa, Agenda, Cita, Cotizaciones, Diseño Desarrollo Marketing Online {% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/contacto{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}