{% extends "home/contacto_SEO.html" %}
{% block contenido %}
<header>
    <section class="row padding-top">
        <div class="medium-12 columns text-center padding-top">
            <h1>Contactanos</h1>
            <h3>¡Hagamos <em class="primaryC">algo increíble</em> Juntos!</h3>
        </div>
    </section>
</header>
<section class="padding-top">
  <article class="row">
    <div class="small-12 columns">
      <form action="" name="Contact">
          <fieldset>
            <legend>Contacto</legend>
            <div class="row">
                <div class="medium-8 medium-centered columns text-center">
                    <h4>Descubre cuál será tu siguiente gran proyecto y ponte en contacto con nosotros</h4>
                    <strong>Nos gustaría saber acerca de tu increíbles ideas y convertirlo en un gran proyecto</strong>
                    
                </div>
                
                <div class="small-12 columns padding-top">
                  <div class="row">
                    <div class="medium-6 columns">
                      <div class="row collapse">
                        <div class="small-3 large-2 columns">
                          <span class="prefix"><i class="icon-user"></i> Nombre</span>
                        </div>
                        <div class="small-9 large-10 columns">
                          <input type="text" name="nombreCto" placeholder="Tu nombre aquí...">
                        </div>
                      </div>
                    </div>
                    <div class="medium-6 columns">
                      <div class="row collapse">
                        <div class="small-3 large-2 columns">
                          <span class="prefix"><i class="icon-mail"></i> Email</span>
                        </div>
                        <div class="small-9 large-10 columns">
                          <input type="email" name="emailCto" placeholder="Tu email aquí...">
                        </div>
                      </div>
                    </div>
                    <div class="medium-6 columns">
                      <div class="row collapse">
                        <div class="small-3 large-2 columns">
                          <span class="prefix"><i class="icon-phone"></i> Telefono</span>
                        </div>
                        <div class="small-9 large-10 columns">
                          <input type="tel" name="telCto" placeholder="Tu número telefonico aquí...">
                        </div>
                      </div>
                    </div>
                    <div class="medium-6 columns">
                      <div class="row">
                        <div class="large-12 columns">
                          <label>
                            <select>
                              <option value="ninguno">Que tipo de Idea tienes:</option>
                              <option value="website">Página Web</option>
                              <option value="ecommerce">Ecommerce</option>
                              <option value="Diseño UX">Diseño UX y UI</option>
                              <option value="mkt-online">Marketing Online</option>
                              <option value="appWeb">Aplicacion Web</option>
                              <option value="otro">Otro</option>
                            </select>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                </div>
                
                <div class="small-8 medium-10 columns">
                  <label id="label-pto">Presupuesto</label>
                  <div class="range-slider round" data-slider data-options="step: 10000;start: 5000; end: 55000;display_selector: #Presupuesto;">
                    <span class="range-slider-handle" role="slider" tabindex="1" aria-labelledby="label-pto"></span>
                    <span class="range-slider-active-segment"></span>
                    <input type="hidden">
                  </div>
                </div>
                <div class="small-4 medium-2 columns">
                   <a class="button secondary disabled expand"><i class="icon-banknote"></i> <span id="Presupuesto"></span></a>
                </div>
                <div class="small-12 columns">
                  ¿Has sido Referenciado?
                  <div class="switch round">
                    <input name="referencia" value="yes" id="referenciado" type="checkbox">
                    <label for="referenciado"></label>
                  </div>

                </div>
                <div class="small-12 columns">
                    <label>Aquí escribenos tus comentarios
                        <textarea rows="4" placeholder="Aquí escribe tu comentario..."></textarea>
                      </label>
                </div>
                <div class="small-6 columns">
                    <button class="expand round success">Enviar</button>
                </div>
                <div class="small-6 columns">
                    <a href="http://bit.ly/PhyroMap" target="_blank" class=" button expand round secondary">Ver el mapa</a>
                </div>
            </div>
          </fieldset>
      </form>
    </div>
  </article>
</section>
    
{% endblock contenido %}