{% extends "home/base.html" %}
{% block header %}
<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><img width="45" src="{{STATIC_URL}}img/logos/logo_phyroServer_150x150.png" alt="Agencia de Diseño, Desarrollo Web y Marketing Online"></a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span class="icomoon-menu">Menu</span></a></li>
        </ul>
    </nav>
</div>
<header class="row">
    <div class="medium-8 medium-centered columns text-center">
        <h1>Hola mundo! :P</h1>
    </div>
    
</header>
    
{% endblock %}