{% extends "home/base.html" %}
{% block title %}Phyro | El lugar donde se desarrollan tus ideas.{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Agencia donde ayudamos a las marcas a crear Marketing Digital, Diseño y Desarrollo web donde tomamos las ideas de nuestros clientes y les damos vida, vida dígital.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}ecommerce, website,  marketing online, diseño, desarrollo, tehuacan, aplicaciones web{% endblock keywords %}
