{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}PHYRO TEAM{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Nosotros construimos tus ideas, conoce al PHYRO TEAM. Somos Desarrolladores, Diseñadores y de Mercadotecnia.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}Desarrolladores, Diseñadores Web, Creatividad, Mercadologos, Sistemas, UX, UI{% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/team{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}