{% extends "team/team_SEO.html" %}
{% block contenido %}
<header>
    <div class="row padding-top">
        <div class="medium-6 medium-centered columns text-center padding-top">
            <h1>Grandes Personas para Desarrollar tus IDEAS</h1>
        </div>
    </div>
</header>
<section>
    <div class="row">
        <div class="medium-6 large-4 columns text-center">
            <img src="http://placehold.it/480x320" alt="Imagen">
            <h3>Jesus Alvarado Garzon <small>Front-End & Back-End Web Developer</small> </h3>
            <p>Jesús A.K.A. (Chuko) <span class="twitter">@xtornasol512</span> Web Developer, hacktivista, Javascript, Pythonista, ama lo que hace y ayuda a las personas a sobrevivir de la tecnologia </p>
            <p>Sus superpoderes en Phyro, son de Front-End, quien convierte nuestros Bocetos y Diseños a Código y lo super Optimiza</p>

        </div>
        <div class="medium-6 large-4 columns text-center">
            <img src="http://placehold.it/480x320" alt="Imagen">
            <h3>Alen López Castillo <small>Mercadologo & Growth Hacking</small> </h3>
            <p>Alen <span class="twitter">@alexmanius</span> Web Developer, hacktivista, Javascript, Pythonista, ama lo que hace y ayuda a las personas a sobrevivir de la tecnologia </p>
            <p>Sus superpoderes en Phyro, son de Marketing y Estrategias Digitales, quien maneja las herramientas a la medida del proyecto y llevarlo a su mercado dígital</p>

        </div>
        <div class="medium-6 large-4 columns text-center">
            <img src="http://placehold.it/480x320" alt="Imagen">
            <h3>Luciano Marcos Solis <small>Back-End Web Developer</small> </h3>
            <p>Jesús A.K.A. (Chuko) Web Developer, hacktivista, Javascript, Pythonista, ama lo que hace y ayuda a las personas a sobrevivir de la tecnologia </p>
            <p>Sus superpoderes en Phyro, son de Back-End, quien convierte nuestros Bocetos y Diseños a Código y lo super Optimiza</p>

        </div>
    </div>
</section>
{% endblock contenido %}