{% extends "ourWork/nuestro-trabajo_SEO.html" %}
{% block contenido %}
<section>
    <section class="row padding-top">
        <div class="medium-7 medium-centered columns padding-top text-center">
            <h1>GRANDES IDEAS DESARROLLADAS</h1>
            <h5>Las ideas de nuestros clientes desarrolladas, con ellos hemos tenido la suerte de trabajar</h5>
        </div>
    </section>
</section>
<section class="ourWork">
    <section class="row">
        <div class="large-6 columns text-center">
            <div class="grid">
                <figure class="effect-chico">
                    <img src="{{STATIC_URL}}img/ourWork/FenixFightClub.jpg" alt="Fenix Fight Club"/>
                    <figcaption>
                        <h2>FFC<span>Mexico</span></h2>
                        <p>Sitio Responsivo - UX - Fotografía - SEO</p>
                        <p><a href="http://ffcmexico.com/about"  target="_blank">Ir al Sitio Web</a></p>
                        
                    </figcaption>           
                </figure>
            </div>
            
        </div>
        <div class="large-6 columns text-center">
            <div class="grid">
                <figure class="effect-chico">
                <img src="{{STATIC_URL}}img/ourWork/GarzonFilms.jpg" alt="GarzonFilms by Andy Garzon"/>
                <figcaption>
                    <h2>Garzon<span>Films</span></h2>
                    <p>Sitio Responsivo - UX - Posicionamiento Web</p>
                    <p><a href="http://garzonfilms.com" target="_blank">Ir al Sitio Web</a></p>
                    
                </figcaption>           
            </figure>
            </div>
            
        </div>
        <div class="large-6 columns text-center">
            <div class="grid">
                <figure class="effect-chico">
                <img src="{{STATIC_URL}}img/ourWork/AcademiadeBalletEugenia.jpg" alt="Academia de Ballet Eugenia"/>
                <figcaption>
                    <h2>Ballet <span>Eugenia</span></h2>
                    <p>Sitio Responsivo - UX - Aplicacion Web</p>
                    <p><a href="http://ballet-eugenia.com" target="_blank">Ir al Sitio Web</a></p>
                </figcaption>           
            </figure>
            </div>
            
        </div>
    </section>
</section>
    
{% endblock contenido %}