@font-face {
	font-family: 'icomoon';
	src:url('/static/fonts/icomoon.eot?cfti4');
	src:url('/static/fonts/icomoon.eot?#iefixcfti4') format('embedded-opentype'),
		url('/static/fonts/icomoon.woff?cfti4') format('woff'),
		url('/static/fonts/icomoon.ttf?cfti4') format('truetype'),
		url('/static/fonts/icomoon.svg?cfti4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e602";
}
.icon-music:before {
	content: "\e601";
}
.icon-pacman:before {
	content: "\e603";
}
.icon-books:before {
	content: "\e604";
}
.icon-profile:before {
	content: "\e605";
}
.icon-tag:before {
	content: "\e606";
}
.icon-cart:before {
	content: "\e607";
}
.icon-credit:before {
	content: "\e60d";
}
.icon-phone:before {
	content: "\e60e";
}
.icon-envelope:before {
	content: "\e60f";
}
.icon-location:before {
	content: "\e610";
}
.icon-clock:before {
	content: "\e615";
}
.icon-calendar:before {
	content: "\e616";
}
.icon-screen:before {
	content: "\e618";
}
.icon-mobile:before {
	content: "\e619";
}
.icon-tablet:before {
	content: "\e61a";
}
.icon-tv:before {
	content: "\e61b";
}
.icon-bubbles:before {
	content: "\e61c";
}
.icon-user:before {
	content: "\e61d";
}
.icon-key:before {
	content: "\e61e";
}
.icon-lock:before {
	content: "\e61f";
}
.icon-cog:before {
	content: "\e620";
}
.icon-stats:before {
	content: "\e621";
}
.icon-gift:before {
	content: "\e622";
}
.icon-leaf:before {
	content: "\e623";
}
.icon-menu:before {
	content: "\e624";
}
.icon-cloud-download:before {
	content: "\e625";
}
.icon-earth:before {
	content: "\e626";
}
.icon-flag:before {
	content: "\e627";
}
.icon-bookmarks:before {
	content: "\e628";
}
.icon-star:before {
	content: "\e608";
}
.icon-star2:before {
	content: "\e609";
}
.icon-heart:before {
	content: "\e60a";
}
.icon-heart2:before {
	content: "\e60b";
}
.icon-close:before {
	content: "\e60c";
}
.icon-enter:before {
	content: "\e629";
}
.icon-share:before {
	content: "\e611";
}
.icon-googleplus:before {
	content: "\e612";
}
.icon-facebook:before {
	content: "\e613";
}
.icon-twitter:before {
	content: "\e614";
}
.icon-twitter2:before {
	content: "\e62a";
}
.icon-youtube:before {
	content: "\e62b";
}
.icon-github:before {
	content: "\e62c";
}
.icon-tumblr:before {
	content: "\e62d";
}
.icon-tumblr2:before {
	content: "\e62e";
}
.icon-apple:before {
	content: "\e62f";
}
.icon-android:before {
	content: "\e630";
}
.icon-file-xml:before {
	content: "\e631";
}
.icon-html5:before {
	content: "\e632";
}
.icon-css3:before {
	content: "\e633";
}
.icon-heart3:before {
	content: "\e634";
}
.icon-lab:before {
	content: "\e635";
}
.icon-mail:before {
	content: "\e617";
}
.icon-paperplane:before {
	content: "\e636";
}
.icon-cross:before {
	content: "\e637";
}
.icon-info:before {
	content: "\e638";
}
.icon-arrow-down:before {
	content: "\e639";
}
.icon-arrow-down2:before {
	content: "\e63a";
}
.icon-facebook2:before {
	content: "\e63b";
}
.icon-googleplus2:before {
	content: "\e63c";
}
.icon-linkedin:before {
	content: "\e63d";
}
.icon-skype:before {
	content: "\e63e";
}
.icon-soundcloud:before {
	content: "\e63f";
}
