@font-face {
	font-family: 'icomoon';
	src:url('/static/fonts/icomoon.eot?yfx1mo');
	src:url('/static/fonts/icomoon.eot?#iefixyfx1mo') format('embedded-opentype'),
		url('/static/fonts/icomoon.woff?yfx1mo') format('woff'),
		url('/static/fonts/icomoon.ttf?yfx1mo') format('truetype'),
		url('/static/fonts/icomoon.svg?yfx1mo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e602";
}
.icon-pencil:before {
	content: "\e603";
}
.icon-pen:before {
	content: "\e604";
}
.icon-image:before {
	content: "\e605";
}
.icon-images:before {
	content: "\e606";
}
.icon-headphones:before {
	content: "\e607";
}
.icon-play:before {
	content: "\e608";
}
.icon-pawn:before {
	content: "\e609";
}
.icon-bullhorn:before {
	content: "\e60a";
}
.icon-connection:before {
	content: "\e60b";
}
.icon-book:before {
	content: "\e60c";
}
.icon-books:before {
	content: "\e60d";
}
.icon-file:before {
	content: "\e60e";
}
.icon-profile:before {
	content: "\e60f";
}
.icon-file2:before {
	content: "\e610";
}
.icon-file3:before {
	content: "\e611";
}
.icon-file4:before {
	content: "\e612";
}
.icon-copy:before {
	content: "\e613";
}
.icon-stack:before {
	content: "\e614";
}
.icon-folder:before {
	content: "\e615";
}
.icon-folder-open:before {
	content: "\e616";
}
.icon-tag:before {
	content: "\e617";
}
.icon-tags:before {
	content: "\e618";
}
.icon-ticket:before {
	content: "\e619";
}
.icon-cart:before {
	content: "\e61a";
}
.icon-cart2:before {
	content: "\e61b";
}
.icon-cart3:before {
	content: "\e61c";
}
.icon-coin:before {
	content: "\e61d";
}
.icon-credit:before {
	content: "\e61e";
}
.icon-address-book:before {
	content: "\e61f";
}
.icon-location:before {
	content: "\e620";
}
.icon-location2:before {
	content: "\e621";
}
.icon-compass:before {
	content: "\e622";
}
.icon-map:before {
	content: "\e623";
}
.icon-map2:before {
	content: "\e624";
}
.icon-history:before {
	content: "\e625";
}
.icon-clock:before {
	content: "\e626";
}
.icon-stopwatch:before {
	content: "\e627";
}
.icon-calendar:before {
	content: "\e628";
}
.icon-calendar2:before {
	content: "\e629";
}
.icon-keyboard:before {
	content: "\e62a";
}
.icon-screen:before {
	content: "\e62b";
}
.icon-laptop:before {
	content: "\e62c";
}
.icon-mobile:before {
	content: "\e62d";
}
.icon-tablet:before {
	content: "\e62e";
}
.icon-tv:before {
	content: "\e62f";
}
.icon-cabinet:before {
	content: "\e630";
}
.icon-download:before {
	content: "\e631";
}
.icon-upload:before {
	content: "\e632";
}
.icon-disk:before {
	content: "\e633";
}
.icon-undo:before {
	content: "\e634";
}
.icon-redo:before {
	content: "\e635";
}
.icon-bubbles:before {
	content: "\e636";
}
.icon-bubble:before {
	content: "\e637";
}
.icon-bubbles2:before {
	content: "\e638";
}
.icon-bubbles3:before {
	content: "\e639";
}
.icon-user:before {
	content: "\e63a";
}
.icon-spinner:before {
	content: "\e63b";
}
.icon-binoculars:before {
	content: "\e63c";
}
.icon-search:before {
	content: "\e63d";
}
.icon-zoomin:before {
	content: "\e63e";
}
.icon-zoomout:before {
	content: "\e63f";
}
.icon-expand:before {
	content: "\e640";
}
.icon-contract:before {
	content: "\e641";
}
.icon-key:before {
	content: "\e642";
}
.icon-lock:before {
	content: "\e643";
}
.icon-lock2:before {
	content: "\e644";
}
.icon-unlocked:before {
	content: "\e645";
}
.icon-equalizer:before {
	content: "\e646";
}
.icon-cogs:before {
	content: "\e647";
}
.icon-cog:before {
	content: "\e648";
}
.icon-hammer:before {
	content: "\e649";
}
.icon-pie:before {
	content: "\e64a";
}
.icon-bars:before {
	content: "\e64b";
}
.icon-leaf:before {
	content: "\e64c";
}
.icon-rocket:before {
	content: "\e64d";
}
.icon-meter2:before {
	content: "\e64e";
}
.icon-dashboard:before {
	content: "\e64f";
}
.icon-fire:before {
	content: "\e650";
}
.icon-lab:before {
	content: "\e651";
}
.icon-airplane:before {
	content: "\e652";
}
.icon-truck:before {
	content: "\e653";
}
.icon-road:before {
	content: "\e654";
}
.icon-shield:before {
	content: "\e655";
}
.icon-signup:before {
	content: "\e656";
}
.icon-list:before {
	content: "\e657";
}
.icon-list2:before {
	content: "\e658";
}
.icon-cloud:before {
	content: "\e659";
}
.icon-cloud-upload:before {
	content: "\e65a";
}
.icon-download2:before {
	content: "\e65b";
}
.icon-globe:before {
	content: "\e65c";
}
.icon-earth:before {
	content: "\e65d";
}
.icon-flag:before {
	content: "\e65e";
}
.icon-attachment:before {
	content: "\e65f";
}
.icon-bookmark:before {
	content: "\e660";
}
.icon-bookmarks:before {
	content: "\e661";
}
.icon-heart:before {
	content: "\e662";
}
.icon-heart2:before {
	content: "\e663";
}
.icon-thumbs-up:before {
	content: "\e664";
}
.icon-happy:before {
	content: "\e665";
}
.icon-smiley:before {
	content: "\e666";
}
.icon-smiley2:before {
	content: "\e667";
}
.icon-sad:before {
	content: "\e668";
}
.icon-wink:before {
	content: "\e669";
}
.icon-wink2:before {
	content: "\e66a";
}
.icon-evil:before {
	content: "\e66b";
}
.icon-shocked:before {
	content: "\e66c";
}
.icon-confused:before {
	content: "\e66d";
}
.icon-notification:before {
	content: "\e66e";
}
.icon-question:before {
	content: "\e66f";
}
.icon-info:before {
	content: "\e670";
}
.icon-cancel-circle:before {
	content: "\e671";
}
.icon-checkmark-circle:before {
	content: "\e672";
}
.icon-arrow-up-left:before {
	content: "\e673";
}
.icon-arrow-up:before {
	content: "\e674";
}
.icon-arrow-up-right:before {
	content: "\e675";
}
.icon-arrow-right:before {
	content: "\e676";
}
.icon-arrow-down-right:before {
	content: "\e677";
}
.icon-arrow-down:before {
	content: "\e678";
}
.icon-arrow-down-left:before {
	content: "\e679";
}
.icon-arrow-left:before {
	content: "\e67a";
}
.icon-arrow-up-left2:before {
	content: "\e67b";
}
.icon-arrow-up2:before {
	content: "\e67c";
}
.icon-arrow-up-right2:before {
	content: "\e67d";
}
.icon-arrow-right2:before {
	content: "\e67e";
}
.icon-arrow-down-right2:before {
	content: "\e67f";
}
.icon-arrow-down2:before {
	content: "\e680";
}
.icon-arrow-down-left2:before {
	content: "\e681";
}
.icon-arrow-left2:before {
	content: "\e682";
}
.icon-crop:before {
	content: "\e683";
}
.icon-scissors:before {
	content: "\e684";
}
.icon-table:before {
	content: "\e685";
}
.icon-table2:before {
	content: "\e686";
}
.icon-paragraph-left:before {
	content: "\e687";
}
.icon-paragraph-center:before {
	content: "\e688";
}
.icon-paragraph-right:before {
	content: "\e689";
}
.icon-paragraph-justify:before {
	content: "\e68a";
}
.icon-paragraph-left2:before {
	content: "\e68b";
}
.icon-paragraph-center2:before {
	content: "\e68c";
}
.icon-embed:before {
	content: "\e68d";
}
.icon-code:before {
	content: "\e68e";
}
.icon-store:before {
	content: "\e68f";
}
.icon-home3:before {
	content: "\e690";
}
.icon-sound-alt:before {
	content: "\e691";
}
.icon-soundoff:before {
	content: "\e692";
}
.icon-task:before {
	content: "\e693";
}
.icon-inbox:before {
	content: "\e694";
}
.icon-inbox-alt:before {
	content: "\e695";
}
.icon-clipboard:before {
	content: "\e696";
}
.icon-calendar3:before {
	content: "\e697";
}
.icon-trash:before {
	content: "\e698";
}
.icon-trash-alt:before {
	content: "\e699";
}
.icon-grid:before {
	content: "\e69a";
}
.icon-grid-alt:before {
	content: "\e69b";
}
.icon-alarm:before {
	content: "\e69c";
}
.icon-clock2:before {
	content: "\e69d";
}
.icon-attachment2:before {
	content: "\e69e";
}
.icon-settings:before {
	content: "\e69f";
}
.icon-portfolio:before {
	content: "\e6a0";
}
.icon-user2:before {
	content: "\e6a1";
}
.icon-users:before {
	content: "\e6a2";
}
.icon-heart3:before {
	content: "\e6a3";
}
.icon-chat:before {
	content: "\e6a4";
}
.icon-facebook:before {
	content: "\e6a5";
}
.icon-googleplus:before {
	content: "\e6a6";
}
.icon-moon:before {
	content: "\e6a7";
}
.icon-cloud2:before {
	content: "\e6a8";
}
.icon-heart4:before {
	content: "\e6a9";
}
.icon-cloud3:before {
	content: "\e6aa";
}
.icon-star:before {
	content: "\e6ab";
}
.icon-tv2:before {
	content: "\e6ac";
}
.icon-sound:before {
	content: "\e6ad";
}
.icon-video:before {
	content: "\e6ae";
}
.icon-trash2:before {
	content: "\e6af";
}
.icon-user3:before {
	content: "\e6b0";
}
.icon-key2:before {
	content: "\e6b1";
}
.icon-search2:before {
	content: "\e6b2";
}
.icon-settings2:before {
	content: "\e6b3";
}
.icon-camera:before {
	content: "\e6b4";
}
.icon-tag2:before {
	content: "\e6b5";
}
.icon-lock3:before {
	content: "\e6b6";
}
.icon-bulb:before {
	content: "\e6b7";
}
.icon-pen2:before {
	content: "\e6b8";
}
.icon-diamond:before {
	content: "\e6b9";
}
.icon-display:before {
	content: "\e6ba";
}
.icon-location3:before {
	content: "\e6bb";
}
.icon-eye:before {
	content: "\e6bc";
}
.icon-bubble2:before {
	content: "\e6bd";
}
.icon-stack2:before {
	content: "\e6be";
}
.icon-cup:before {
	content: "\e6bf";
}
.icon-phone:before {
	content: "\e6c0";
}
.icon-news:before {
	content: "\e6c1";
}
.icon-mail:before {
	content: "\e6c2";
}
.icon-like:before {
	content: "\e6c3";
}
.icon-photo:before {
	content: "\e6c4";
}
.icon-note:before {
	content: "\e6c5";
}
.icon-clock3:before {
	content: "\e6c6";
}
.icon-paperplane:before {
	content: "\e6c7";
}
.icon-params:before {
	content: "\e6c8";
}
.icon-banknote:before {
	content: "\e6c9";
}
.icon-data:before {
	content: "\e6ca";
}
.icon-music:before {
	content: "\e6cb";
}
.icon-megaphone:before {
	content: "\e6cc";
}
.icon-study:before {
	content: "\e6cd";
}
.icon-lab2:before {
	content: "\e6ce";
}
.icon-food:before {
	content: "\e6cf";
}
.icon-t-shirt:before {
	content: "\e6d0";
}
.icon-fire2:before {
	content: "\e6d1";
}
.icon-clip:before {
	content: "\e6d2";
}
.icon-shop:before {
	content: "\e6d3";
}
.icon-calendar4:before {
	content: "\e6d4";
}
.icon-wallet:before {
	content: "\e6d5";
}
.icon-vynil:before {
	content: "\e6d6";
}
.icon-truck2:before {
	content: "\e6d7";
}
.icon-world:before {
	content: "\e6d8";
}
.icon-paperclip:before {
	content: "\e6d9";
}
.icon-export:before {
	content: "\e6da";
}
.icon-location4:before {
	content: "\e6db";
}
.icon-map3:before {
	content: "\e6dc";
}
.icon-compass2:before {
	content: "\e6dd";
}
.icon-share:before {
	content: "\e6de";
}
.icon-heart5:before {
	content: "\e6df";
}
.icon-heart6:before {
	content: "\e6e0";
}
.icon-star2:before {
	content: "\e6e1";
}
.icon-star3:before {
	content: "\e6e2";
}
.icon-hourglass:before {
	content: "\e6e3";
}
.icon-keyboard2:before {
	content: "\e6e4";
}
.icon-progress-3:before {
	content: "\e6e5";
}
.icon-progress-2:before {
	content: "\e6e6";
}
.icon-brogress-1:before {
	content: "\e6e7";
}
.icon-progress-0:before {
	content: "\e6e8";
}
.icon-sun:before {
	content: "\e6e9";
}
.icon-sun2:before {
	content: "\e6ea";
}
.icon-adjust:before {
	content: "\e6eb";
}
.icon-code2:before {
	content: "\e6ec";
}
.icon-infinity:before {
	content: "\e6ed";
}
.icon-arrow-left3:before {
	content: "\e6ee";
}
.icon-arrow-down3:before {
	content: "\e6ef";
}
.icon-arrow-up3:before {
	content: "\e6f0";
}
.icon-arrow-right3:before {
	content: "\e6f1";
}
.icon-arrow-left4:before {
	content: "\e6f2";
}
.icon-arrow-down4:before {
	content: "\e6f3";
}
.icon-arrow-up4:before {
	content: "\e6f4";
}
.icon-arrow-right4:before {
	content: "\e6f5";
}
.icon-arrow-left5:before {
	content: "\e6f6";
}
.icon-arrow-down5:before {
	content: "\e6f7";
}
.icon-arrow-up5:before {
	content: "\e6f8";
}
.icon-uniE6F9:before {
	content: "\e6f9";
}
.icon-cc:before {
	content: "\e6fa";
}
.icon-github:before {
	content: "\e6fb";
}
.icon-github2:before {
	content: "\e6fc";
}
.icon-vimeo:before {
	content: "\e6fd";
}
.icon-vimeo2:before {
	content: "\e6fe";
}
.icon-twitter:before {
	content: "\e6ff";
}
.icon-facebook2:before {
	content: "\e700";
}
.icon-facebook3:before {
	content: "\e701";
}
.icon-googleplus2:before {
	content: "\e702";
}
.icon-tumblr:before {
	content: "\e703";
}
.icon-soundcloud:before {
	content: "\e704";
}
