@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
body, h1, h2, h3, h4, h5, p{
    font-weight:300;
}
.primaryC{
    color: #d0233c;
}
.sFull{
    height: 100vh; 
}
.zeroM{
    margin: 0px;
}
.bg-laptop{
    background: url(/static/img/whatwedo/website_03.jpg) 80% 0% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#websites{
    background: url(/static/img/whatwedo/website_03.jpg) 80% 0% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}
#ecommerce{
    background: url(/static/img/whatwedo/website_02.jpg) 80% 0% no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    height: 100vh;
}
#ux-design{
    background: url(/static/img/whatwedo/website_03.jpg) 80% 0% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}
#mkt-online{
    background: url(/static/img/whatwedo/website_02.jpg) 80% 0% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}
#appWeb{
    background: url(/static/img/whatwedo/website_03.jpg) 80% 0% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}
.medium{
    font-size: 2em;
}
.large{
    font-size: 4em;
}
.padding-top{
    padding-top: 2.5em;
}
.padding-top-large{
    padding-top: 5em;
}

/*  
.top-bar {
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.18);
background: none repeat scroll 0% 0% rgba(247, 247, 247, 0.976);
}

.right li a{
    color: rgba(100,100,100,.2);
    font-size: 1.6em;
}

.top-bar-section ul li {
 background: rgba(0,0,0,.0);
}
.top-bar-section li:not(.has-form) a:not(.button) {
background: rgba(0,0,0,.0);
}
.top-bar.expanded .title-area {
background: none repeat scroll 0% 0% rgba(247, 247, 247, 0.976);
}

@media only screen and (min-width: 40.063em){
    .top-bar-section li:not(.has-form) a:not(.button) {
        background-color: rgba(0,0,0,0.0);
        background: rgba(0,0,0,0.0);
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: rgba(0,0,0,0.0);
        background: rgba(0,0,0,0.0);
    }
}*/


