{% extends "loquehacemos/appWeb_SEO.html" %}
{% block contenido %}
<header class="sFull bg-laptop">
    <section class="row padding-top-large">
        <div class="medium-8 large-6 columns">
            <h1>APLICACIONES WEB</h1>
            <h3>Creaciones de Aplicaciones Web </h3>
            <p>Se más productivo, analiza más tus datos y crea campañas inteligentes con tu Aplicacion Web</p>
            <a class="button round" href="#">Cotiza tu App Web</a>
        </div>
    </section>
</header>

{% endblock contenido %}
