{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}Aplicaciones Web, Diseño y Desarrollo de Apps{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Creamos Aplicaciones para Moviles, Tablets, PC, Laptop, SmartTV y que te ayuden a aumentar tu productividad.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}Apps, Aplicacion Web, Aplicacion Movil, Aplicacion Empresarial, Back-end, CMS, Emailing{% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/lo-que-hacemos/aplicaciones-web{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}
