{% extends "loquehacemos/ecommerce_SEO.html" %}
{% block contenido %}
<header class="sFull bg-laptop">
    <section class="row padding-top-large">
        <div class="medium-8 large-6 columns">
            <h1>Ecommerce</h1>
            <h3>Tiendas y Pagos en Línea </h3>
            <p>Crea tu primera tienda Online, o Rediseña y amplia tu Mercado con Estrategias Dígitales</p>
            <a class="button round" href="#">Cotiza tu Ecommerce</a>
        </div>
    </section>
</header>
    
{% endblock contenido %}