{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}Nuestros Servicios en Phyro Server{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Estas son las posibilidades en las que tu idea se puede transformar con la ayuda del Phyro Team.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}servicios, tiendas online, paginas web, estrategias digitales, posicionamiento web, diseño y desarrollo web{% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/lo-que-hacemos{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}