{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}Lo que hacemos{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Conoce los servicios que tenemos para desarrollar tus ideas.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}Servicios, tiendas online, paginas web, estrategias digitales, posicionamiento web, diseño y desarrollo web{% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/lo-que-hacemos{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}