{% extends "loquehacemos/lo-que-hacemos_SEO.html" %}
{% block contenido %}
<header class="mainHeader padding-top">
    <section class="row">
        <div class="small-12 columns text-center">
            <h1>Desarrollamos tus Ideas</h1>
            <h5>Phyro es un  Estudio Creativo Digital. Enfocado en Desarrollar y Diseñar soluciones, en base a las ideas y necesidades de las marcas ( empresas),  para darles vida y conectar con sus clientes.</h5>
        </div>
    </section>
</header>
<section class="container padding-top">
    <article class="row">
        <div class="small-12 columns text-center">
            <h2>NUESTRA EXPERIENCIA</h2>
        </div>
    </article>
    <article class="row padding-top">
        <section class="medium-10 medium-centered columns">
            <div data-magellan-expedition="fixed" class="icon-bar five-up">
              <a class="item intLink" href="#websites">
                <i class="icon-screen"></i>
                <label class="show-for-medium-up">Web Sites</label>
              </a>
              
              <a href="#ecommerce" class="item intLink">
                <i class="icon-cart2"></i>
                <label class="show-for-medium-up">Ecommerce</label>
              </a>
              <a href="#ux-design" class="item intLink">
                <i class="icon-heart4"></i>
                <label class="show-for-medium-up">Diseño Web</label>
              </a>
              <a href="#mkt-online" class="item intLink">
                <i class="icon-bubbles3"></i>
                <label class="show-for-medium-up">Marketing</label>
              </a>
              <a href="#appWeb" class="item intLink">
                <i class="icon-mobile"></i>
                <label class="show-for-medium-up">Aplicaciones</label>
              </a>
            </div>
        </section>
    </article>
</section>

<section id="websites" class="padding-top-large">
    <article class="row padding-top">
        <div class="medium-6 columns text-center padding-top">
            <h2>Páginas Web</h2>
            <p>El sitio web para promocionar tu marca y productos, visualizada perfectamente en cualquier dispositivo. Ideal para empresarios y emprendedores.</p>
            <p class="text-right"><a class="button round" href="/lo-que-hacemos/websites">Conoce más de Web Sites</a></p>
        </div>
    </article>
</section>

<section id="ecommerce" class="padding-top-large">
    <article class="row padding-top">
        <div class="medium-6 columns text-center padding-top">
            <h2 >Ecommerce</h2>
            <p>Si eres un emprendedor, tienes una empresa o negocio que quieres darlo a conocer y necesitas tener presencia en Moviles, tabletas esta es una buena opción para empezar</p>
            <p class="text-right"><a class="button round" href="/lo-que-hacemos/ecommerce">Conoce más de Ecommerce</a></p>
        </div>
    </article>
</section>

<section id="ux-design" class="padding-top-large">
    <article class="row padding-top">
        <div class="medium-6 columns text-center padding-top">
            <h2>Diseño UX y UI</h2>
            <p>Ya tienes un sitio pero la gente no puede navegar en él, conocenos y verás diferentes tipos de herramientas que usamos para lograr que tus clientes encuentren mejor las cosas y de una manera agredable.</p>
            <p class="text-right"><a class="button round" href="/lo-que-hacemos/ux-ui-design">Conoce más de Diseño UX UI</a></p>
        </div>
    </article>
</section>

<section id="mkt-online" class="padding-top-large">
    <article class="row padding-top">
        <div class="medium-6 columns text-center padding-top">
            <h2>Marketing Online</h2>
            <h4>Estrategias dígitales</h4>
            <p>Todo buen proyecto necesita que la gente lo vea, Te brindamos las herramientas para comunicarte en linea como SEO, SEM, Facebook Ads, Youtube Ads, Twitter Insights y más.</p>
            <p class="text-right"><a class="button round" href="/lo-que-hacemos/marketing-online">Conoce más de Marketing Online</a></p>
        </div>
    </article>
</section>
<section id="appWeb" class="padding-top-large">
    <article class="row padding-top">
        <div class="medium-6 columns text-center padding-top">
            <h2>Aplicaciones Web</h2>
            <h4>Diseño y desarrollo Web</h4>
            <p>Si eres un emprendedor, tienes una empresa o negocio que quieres darlo a conocer y necesitas tener presencia en Moviles, tabletas esta es una buena opción para empezar</p>
            <p class="text-right"><a class="button round" href="/lo-que-hacemos/aplicaciones-web">Conoce más de Aplicaciones Web</a></p>
        </div>
    </article>
</section>
{% endblock contenido %}
{% block beforeFoundation %}
<script src="{{STATIC_URL}}temp/js/jquery.smint.js"></script>
{% endblock beforeFoundation %}
