{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}Marketing Online y Estrategias Dígitales{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Posicionamiento Web,SEO, SEM, herramientas para hacer crecer tu negocio online, proyecto o idea.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}GrowhtHacking, SEO, SEM, Posicionamiento, Inbound, Outbound, Marketing Online{% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/lo-que-hacemos/marketing-online{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}