{% extends "blocks/header.html" %}
{% block title %}{% block og_title %}Diseño UX y UI de Aplicaciones y Páginas Web{% endblock og_title%}{%endblock title%}
{% block descripcion %}{% block og_descripcion %}Diseñamos, analizamos la mejor forma de comunicar a tus clientes tu información.
{% endblock og_descripcion %}{% endblock descripcion %}
{% block keywords %}Diseño Web, UX and UI Design, Patrones de Diseño Movil, PC y SmarthTVs{% endblock keywords %}
{% block rel_canonical%}http://phyroserver.com/lo-que-hacemos/ux-ui-design{% endblock rel_canonical%}
{% block og_img %}{{STATIC_URL}}img/home/team_01.jpg{% endblock og_img %}
