{% extends "loquehacemos/websites_SEO.html" %}
{% block contenido %}

<header class="sFull bg-laptop">
    <section class="row padding-top-large">
        <div class="medium-8 large-6 columns">
            <h1>Páginas Web</h1>
            <h3>Diseño y Desararllo de Sitios Web</h3>
            <p>El sitio web para promocionar tu marca y productos, visualizada perfectamente en cualquier dispositivo</p>
            <a class="button round" href="#">Haz tu Pedido</a>
        </div>
    </section>
</header>
    
{% endblock contenido %}